/* styles/about.css */
.about-container {
    padding-top: 3rem;
    padding-bottom: 15px;
    ;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.about-heading {
    font-size: 40px !important;
    font-weight: 500px !important;
    text-align: center !important;
    margin-bottom: 2.5rem;
    text-size-adjust: 100px;
}



.about-text {
    color: gray;
    padding-top: 0;
    line-height: 1.5;
    margin: 0;
    text-align: center;
}

/* Responsive styles */

@media (min-width:768px) {
    .about-heading {
        font-size: 1rem;
    }

    .about-text {
        font-size: 1.125rem;

    }
}

@media (max-width: 768px) {
    .about-heading {
        font-size: 1.875rem;
    }

    .about-text {
        font-size: 1rem;
    }

    .about-container {
        padding-top: 6rem;
    }
}

;