.skills-container {
    padding-top: 8rem;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 10%;
    padding-left: 10%;
}

.skills-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:5rem;
    align-items: center;
} 

.skills-heading {
    font-weight:initial;
    margin: 0;
    font-size: 3rem;
    line-height:1;
    
}

.skills-text {
    color: #6b7280;
    padding-top: 1rem;
    margin: 0;
    font-size:large;
}

.skills-icons-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.5rem;
    color: #08e95e;
}

.skills-space-1 {
    color: #08e95e;
    flex-direction: column;
    
    
}
.skills-space-2 {
    color: #08e95e;
    flex-direction: column;
    
}

.skills-space h2 {
    color: #08e95e;
    font-weight: inherit;
    font-size: inherit;
    margin: 0;
}

/* {responsive styles} */
@media (max-width: 1024px) {
    .skills-grid {
        grid-template-columns:1fr 1fr;
    }

    .skills-heading {
        font-size: 2.25rem;
    }

    .skills-icons-grid {
        font-size: 2rem;
    }
}

@media (mix-width: 768px) {
    .skills-grid {
        grid-template-columns: 1fr;
        gap:2rem;
    }

    .skills-heading {
        font-size: 1.875rem;
    }

    .skills-icons-grid {
        font-size: 1.75rem;
    }

    .skills-left {
        text-align: center;
    }
}

