body {
    color: #fffF;
    background-color: hwb(240 2% 92% / 0.925);
    margin:1px;;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #fff;
    padding:0;
}




    